:root {
    --blue-color: #73c6d9;
    --light-green: #73d99f;
    --light-dark: #4a525f;
    --black: rgb(8, 8, 8);
    --white: #fff;
    --light-info: #fbfcff;
    --light-gray: #4a525f;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content-page {
    margin-left: 17.5rem;
    margin-top: 80px;
    min-height: 100vh;
    background: rgba(0 0 0 / 2%);
    transition: all 0.4s ease-in-out;
}
